/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp-splide {
	border: 1px dotted #f00;
}

/* アイコンの大きさ調整 */
.editor-block-list-item-create-block-wp-splide .block-editor-block-icon {
	width: 32px;
	height: 32px;
}
.editor-block-list-item-create-block-wp-splide .dashicons {
	width: 100%;
	height: 100%;
}
.dashicons-slides:before {
	font-size: 32px;
}
